.header{
    background-color: cadetblue;
    height: 100px;
    padding: 20px;
    margin-bottom: 60px;

}
.nav-link{
    background-color: chartreuse;
}
.header a:hover{
    color: black;
    
}
.colorHeader{
    color: cornsilk;
    float: left!important;
}